html
{
    scroll-behavior: smooth;
}

h1
{
   font-family: "Re4";
   font-weight: 20;
}

h2
{
    font-family: "Re4";
    font-weight: 10;
}

.rede-social
{
    color: white;
    display: inline-block;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 5px;
}

.capcom
{
   float: right;
   margin-top: 10px;
   margin-right: 20px;
}

.parallax
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 85vh !important;
   width: 100%;
   position: relative;
   overflow: hidden;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
}

.parallax::after
{
   content: "";
   width: inherit;
   height: inherit;
   position: absolute;
   z-index: 8;
   background:linear-gradient(180deg, black, transparent, black );
}

.bannerTxT
{
    position: absolute;
}

.plataformas
{
    width: 110px;
    height: 30px;
    margin-left: 20px;
    display: inline-block;
}

.navigationBar
{
    background-color: black;
    border-radius: 20px;
    border: 2px solid #c0192a;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.navigationBar ul li
{
   display: inline-block;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5rem;
}

.navigationBar ul li a
{
   font-size: xx-large;
   font-family: "Re4";
   color: rgba(255, 255, 255, 0.918);
   text-decoration: none;
}

.navigationBar ul li a:hover
{
    color: #c0192a;
}

p
{
    color: white;
    font-family: 'TypeWriter', Times, serif;
    font-weight: bold;
}

section
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 120vh !important;
   width: 100%;
   position: relative;
   overflow: hidden;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-attachment: fixed;
}

section::after
{
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 8;
    background:linear-gradient(180deg, black, transparent, black );
}

.card
{
    width: 40%; 
    height: 50%;
    border-radius: 20px; 
    margin-left: 5%;
}


.Per
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 550vh !important;
   width: 100%;
   position: relative;
   overflow: hidden;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-attachment: fixed;
}
.Per::after
{
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 8;
    background:linear-gradient(180deg, rgb(0, 0, 0), transparent, transparent, transparent, transparent, transparent, transparent, transparent, rgb(0, 0, 0) );
}

.input-box
{
    color: #ffffff;
    margin-left: 35%;
}

input
{
    background-color: #000000;
    border: #c0192a 2px solid;
    border-radius: 5px;
    width: 30%;
    height: 40px;
    
}
