h1
{
   font-family: "Re4";
   font-weight: 20;
}

h2
{
    font-family: "Re4";
    font-weight: 10;
}

.rede-social
{
    color: white;
    display: inline-block;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 5px;
}

.capcom
{
   float: right;
   margin-top: 10px;
   margin-right: 20px;
}

.parallax
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 75vh !important;
   width: 100%;
   position: relative;
   overflow: hidden;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   
   background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover
}

.parallax::after
{
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 8;
   background:linear-gradient(180deg, black, transparent, black );
}

.parallax.banner
{
    background-image: url(/assets/Imagens/banner2.jpeg);
}

.bannerTxT
{
    color: #c0192a;
    font-family: "Re4";
    font-size: xx-large;
    font-weight: 20;
    margin-left: 4.5%;
    margin-top: 17%;
    margin-bottom: -1%;
}

.plataformas
{
    width: 110px;
    height: 30px;
    margin-left: 20px;
    display: inline-block;
}

.navigationBar
{
    background-color: black;
    border-radius: 20px;
    border: 2px solid #c0192a;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

li
{
   display: inline-block;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 6.5%;
}

a
{
   font-size: xx-large;
   font-family: "Re4";
   color: rgba(255, 255, 255, 0.918);
   text-decoration: none;
   
}

a:hover
{
    color: #c0192a;
    
}

p
{
    font-family: 'TypeWriter', Times, serif;
    font-weight: bold;
}
